<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="post">
        <div>
            <label for="name">Name :</label>
            <input type="text" name="username" id="name">
        </div>
        <div>
            <label for="email">Email :</label>
            <input type="text" name="email" id="email">
        </div>
        <div>
            <label for="pass">Password :</label>
            <input type="text" name="pass" id="pass">
        </div>
        <div>
            <label for="cnfpass">Confirm Password :</label>
            <input type="text" id="cnfpass">
        </div>
        <input type="submit" value="Submit" id="submit">
    </form>
    <script>
        
    </script>
</body>
</html>