<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="post">
        <div>
            <label for="name">Name :</label>
            <input type="text" name="username" value="anup" id="name" required>
        </div>
        <div>
            <label for="email">Email :</label>
            <input type="email" name="email" value="anupbute2@gmail.com" id="email" required>
        </div>
        <div>
            <label for="pass">Password :</label>
            <input type="password" name="pass" value="hi" id="pass" required>
        </div>
        <div>
            <label for="cnfpass">Confirm Password :</label>
            <input type="password" value="hi" id="cnfpass" required>
        </div>
        <input type="submit" value="Submit" id="submit1" disabled>
    </form>
    <script>
        let pass=document.getElementById("pass");
        let cnfpass=document.getElementById("cnfpass");
        let submit1=document.getElementById("submit1")

        function check(){
            if(pass.value===cnfpass.value){
                submit1.disabled=false;
            }else{
                submit1.disabled=true;
            }
        }

        pass.addEventListener("input",check)
        cnfpass.addEventListener("input",check)

        

    </script>
</body>
</html>